<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ImageManager</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body ng-app="imageManagerApp" ng-controller="IMCtrl">

    <!-- Add your site or application content here -->
	
	<!-- Button trigger modal -->
	<button type="button" class="btn btn-primary btn-lg pull-right" data-toggle="modal" data-target="#addImageModal" ng-click="loadPopup(1)">
	Add
	</button>
	
	<!-- Modal for adding Image-->
	<ng-include src="'views/PopupTemplate.html'"></ng-include>
	
	<div class="container">
		<div class="row">
			<div class="col-md-4" ng-repeat="i in image track by $index" ng-click="loadPopup(0, $index, i.url, i.title, i.description)" data-toggle="modal" data-target="#updImageModal">
				<div class="panel panel-default">
					<div class="panel-body">
						<img src="{{i.url}}" alt="Plz use any 640x640 image">
					</div>
					<div class="panel-footer">
						<p class="panel_footer_title">
							<span id="heading">Title</span>
							<span id="content">{{i.title}}</span>
						</p>
-						<p class="panel_footer_description">
							<span id="heading">Description</span>
							<span id="content">{{i.description}}</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--
    <div class="container">
    <div ng-view=""></div>
    </div>
	-->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <!-- endbuild -->
	</body>
</html>
